.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.so
.idea/
.cache

#ignore data
data/


#ignore non sample data in tests
tests/test_data/sgf/*
!tests/test_data/sgf/G1.sgf
!tests/test_data/sgf/G2.sgf
!tests/test_data/sgf/G3.sgf

#ignore doc builds
docs/_build

*.hdf5
